* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

#wrapper {
  width: 1000px;
  margin: 30px auto;
  min-height: 320px;
}

#tab {
  margin-bottom: 17px;
  display: flex;
}
#tab .tab-list {
  margin-right: 17px;
}

#todo-table {
  width: 100%;
  border-collapse: collapse;
}
#todo-table th {
  text-align: center;
}
#todo-table th,
#todo-table td {
  border: 1px solid #ddd;
  padding: 11px;
}

#cell-edit-button {
  width: 12%;
  text-align: center;
}
#cell-text {
  width: 35%;
}
#cell-created-at {
  width: 18%;
  text-align: center;
}
#cell-priority {
  width: 12%;
  text-align: center;
}
#cell-limit-at {
  width: 18%;
  text-align: center;
}
#cell-done {
  width: 12%;
  text-align: center;
}

#input-form {
  display: flex;
  align-items: center;
  padding: 17px;
  background: #bbb;
  margin-top: 50px;
}
#input-form label {
  display: block;
  margin-bottom: 7px;
}
#input-form .input-text {
  width: 70%;
}
#input-form .input-date {
  width: 40%;
}
#input-form .input-text,
#input-form .input-date {
  padding: 7px;
}
#input-form .input-text input,
#input-form .input-date input {
  width: 100%;
  padding: 10px;
}
#input-form .submit {
  padding: 8px;
  position: relative;
  top: 15px;
  font-size: 18px;
}
