@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 0.865rem;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.site-title {
    width: 200px;
    line-height: 1;
    margin: 0 auto 50px auto;
}
.site-title a {
    font-size: 30px;
    display: block;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

/*ヘッダー*/
#header {
    max-width: 1000px;
    padding: 45px 0 15px 0;
    margin: 0 auto 50px auto;
    border-bottom: solid 1px blue;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .menu {
    display: flex;
    align-items: center;
}
nav .menu li {
    margin-right: 15px;
}

/*商品ページ*/
#item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
#item .item-image {
    max-width: 400px;
    flex-shrink: 0;
    margin-right: 60px;
    margin-bottom: 75px;
    border: solid 1px black;
}
#item .item-info p {
    margin-bottom: 30px;
    line-height: 1.9;
}
#item .item-info .item-title {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: solid 1px darkred;
    border-bottom: solid 1px darkred;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}
#item .item-info .order-table {
    width: 100%;
    margin-bottom: 25px;
}
#item .item-info .order-table .color,
#item .item-info .order-table .size {
    width: 20%;
}
#item .item-info .order-table .quantity {
    width: 60%;
}
#item .item-info .order-table td {
    border-top: solid 1px pink;
}
#item .item-info .order-table th,
#item .item-info .order-table td {
    font-weight: normal;
    padding: 10px;
    border-right: solid 1px lightgreen;
    text-align: center;
}
#item .item-info .order-table th:last-child,
#item .item-info .order-table td:last-child {
    border-right: none;

}
#item .item-info .order-table select {
    width: 100%;
    border: solid 1px orange;
    padding: 0 10px;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
}
#item .item-info .cart-bin {
    width: 100%;
    background-color: #4B4B4B;
    color: #fff;
    display: block;
    line-height: 1;
    padding: 20px 0;
    text-align: center;
}

/*フッター*/
#footer {
    padding: 10px 0;
}
#footer .copyright {
    font-size: 0.75rem;
    text-align: center;
}

/*SP*/
@media screen and (max-width: 896px)
{
    .site-title {
        margin-bottom: 25px;
    }

    #header {
        margin-bottom: 0;
        border-bottom: none;
        padding: 35px 15px 15px 15px;
    }

    nav {
        overflow-x: scroll;
    }

    #item {
        flex-direction: column;
    }
    #item .item-image {
        max-width: 100%;
        margin: 0 0 10px 0;
    }
    #item .item-info {
        padding: 0 15px;
    }
}
